@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-md-9">
        <h2>About Us</h2>
        <section class="container product-info">
            <div class="gray-bg-additional" style="border: 15px">

                <p style="text-align: justify"><span style="font-family: arial, helvetica, sans-serif">KM Industrial Corporation has established itself as a trusted supplier of Electrical, Machinery and Industry Goods for the last 20 years. We are an <strong>ISO 9001:2008 certified</strong> company, thus confirming our commitment to quality and reliability.&nbsp;We provide </span>complete electrical solutions to various industries including but not limited to Power generation plants, Cement Plants, Rolling mills, Railways, Rubber Factories, Textile Mills, Construction Equipment Manufacturers, Oil Refineries, Hospitals, Hotels and Corporate across the length and breadth of the country. Also, we export electrical products to different countries like UAE Saudi Arabia<span style="font-size: 13px">, </span>Oman, Canada, USA <span style="font-size: 13px"> and many more.</span></p>

                <p style="text-align: justify"><span style="font-family: arial, helvetica, sans-serif">We are stockists of Switchgears, Contactors, Switches, Relays, Timers, Motor starters and Circuit breakers from renowned companies including <strong>L&amp;T</strong>, <strong>Siemens</strong>, <strong>BCH</strong>, <strong>ABB</strong>, <strong>Schneider</strong>, <strong>GE</strong> etc. We have a large inventory of all brands of MCBs, power capacitors, indicating lights, push buttons, wires, energy meters, Cable Lugs, Cable Glands etc .</span></p>

                <p style="text-align: justify"><span style="font-family: arial, helvetica, sans-serif">In addition, we are involved in <strong>manufacturing of LT electric panels</strong>, designed and developed conforming to IE rules and customised according to the clients&#39; needs. The panels are fabricated with quality components to provide durability, safety and long life to the panel. The panels are thoroughly tested by professional engineers for their accuracy and performance before delivery at the site.</span></p>

                <p style="text-align: justify"><span style="font-family: arial, helvetica, sans-serif">We are also a specialist in <strong>manufacturing of Slip rings</strong>, all types of Carbons, Holders and Brushes and motor terminal plates. We can manufacture any customised size of the same as per clients&#39; needs. Our products are assured of best quality and undergo rigorous tests for quality and precision. The rings of the slipring are available in Gun Metal or Phosphor Bronze.The slipring can be made of Fiber molded, bakelite, Epoxy molded, or DMC compound. The carbon brushes are available in various grades with ideal mixture of copper and graphite that suit the respective industries.</span></p>

                <p style="text-align: justify"><span style="font-family: arial, helvetica, sans-serif">In addition, we also supply <strong>AC and DC motors</strong> and Industrial pumps from <strong>Kirloskar</strong>, <strong>Crompton</strong>, <strong>ABB</strong> and <strong>Bharat Bijlee</strong>.</span></p>

                <p style="text-align: justify"><span style="font-family: arial, helvetica, sans-serif">We assure our clients of quality products and excellent after sales service. This way we believe we sell peace of mind and help our clients focus on their core business.We claim to be one stop solution for all their electrical needs. Some of our clients in various industrial areas in New Delhi, Rajasthan, Madhya Pradesh, Bihar, Jammu and Kashmir have been associated with us for more than 10 years now.</span></p>
                <div class="clearfix"></div>
                <div class="clearfix"></div>
                <p style="text-align: justify"><span style="font-family: arial, helvetica, sans-serif">With us you can be assured of :</span></p>

                <dl>
                    <dd>In time Delivery</dd>
                    <dd>After sales service.</dd>
                    <dd>Genuine products.</dd>
                    <dd>Long term relationships.</dd>
                </dl>
            </div>
        </section>
    </div>

</div>
