@model EMS.Models.ProjectViewModels
@{
    ViewBag.Title = "Add";
}

    <div class="row">
        <div class="col-md-4">
            @Html.LabelFor(x => x.Name)
            @Html.TextBoxFor(x => x.Name)
        </div>
    </div>
