

    <div class="col-md-1">
        <div class="navside sel r box-shadow-z0 m-b hover-top folded nav-expand show-text w-xs" layout="column" style="height: 680px;z-index: 1000">
            <div class="navbar">
                <!-- brand -->
                <a class="navbar-brand">

                    <span class="hidden-folded inline">Flatkit</span>
                </a>
                <!-- / brand -->
            </div>
            <div flex-no-shrink="">
                <div class="nav-fold">
                    <a href="#/app/page/profile" ui-sref="app.page.profile">
                        <span class="pull-left">
                            <img src="../Assets/Images/a0.jpg" alt="..." class="w-40 img-circle">
                        </span>
                        <span class="clear hidden-folded p-x">
                            <span class="block _500">Jean Reyes</span>
                            <small class="block text-muted"><i class="fa fa-circle text-success m-r-sm"></i>online</small>
                        </span>
                    </a>
                </div>
            </div>
            <div flex="">
                <ul class="nav" ui-nav="">
                    <li class="nav-header hidden-folded">
                        <span class="text-xs text-muted">Menu</span>
                    </li>


                    <li class="active">
                        <a>
                            <span class="nav-caret text-muted">
                                <i class="fa fa-caret-down"></i>
                            </span>
                            <i class="nav-label">
                                <b class="label label-sm no-bg"></b>
                            </i>
                            <span class="nav-icon">
                                <i class="material-icons">assignment_ind</i>
                            </span>
                            <span class="nav-text">Employee</span>
                        </a>
                        <ul class="nav-sub">
                            <li>
                                <a>
                                    <span class="nav-text">Create</span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span class="nav-text">Dashboard</span>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li class="active">
                        <a>
                            <span class="nav-caret text-muted">
                                <i class="fa fa-caret-down"></i>
                            </span>
                            <i class="nav-label">
                                <b class="label label-sm no-bg"></b>
                            </i>
                            <span class="nav-icon">
                                <i class="material-icons">assignment</i>
                            </span>
                            <span class="nav-text">Project</span>
                        </a>
                        <ul class="nav-sub">
                            <li>
                                <a>
                                    <span class="nav-text">Create</span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span class="nav-text">Dashboard</span>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li class="active">
                        <a>
                            <span class="nav-caret text-muted">
                                <i class="fa fa-caret-down"></i>
                            </span>
                            <i class="nav-label">
                                <b class="label label-sm no-bg"></b>
                            </i>
                            <span class="nav-icon">
                                <i class="material-icons">transfer_within_a_station</i>
                            </span>
                            <span class="nav-text">Visitor</span>
                        </a>
                        <ul class="nav-sub">
                            <li>
                                <a>
                                    <span class="nav-text">Create</span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span class="nav-text">Dashboard</span>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li class="active">
                        <a>
                            <span class="nav-caret text-muted">
                                <i class="fa fa-caret-down"></i>
                            </span>
                            <i class="nav-label">
                                <b class="label label-sm no-bg"></b>
                            </i>
                            <span class="nav-icon">
                                <i class="material-icons">group</i>
                            </span>
                            <span class="nav-text">Department</span>
                        </a>
                        <ul class="nav-sub">
                            <li>
                                <a>
                                    <span class="nav-text">Create</span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span class="nav-text">Dashboard</span>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li class="active">
                        <a>
                            <span class="nav-caret text-muted">
                                <i class="fa fa-caret-down"></i>
                            </span>
                            <i class="nav-label">
                                <b class="label label-sm no-bg"></b>
                            </i>
                            <span class="nav-icon">
                                <i class="material-icons">event</i>
                            </span>
                            <span class="nav-text">Event</span>
                        </a>
                        <ul class="nav-sub">
                            <li>
                                <a>
                                    <span class="nav-text">Create</span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span class="nav-text">Dashboard</span>
                                </a>
                            </li>

                        </ul>
                    </li>

                </ul>
            </div>

        </div>
    </div>

