

<div class="app-header col-md-11 grey-add box-shadow" style="z-index: 1000; position:inherit">
    <div class="navbar">

        <!-- Open side - Naviation on mobile -->
        <a data-toggle="modal" data-target="#aside" class="navbar-item pull-left hidden-lg-up">
            <i class="material-icons"></i>
        </a>
        <!-- / -->
        <!-- Page title - Bind to $state's title -->
        <div class="navbar-item pull-left h5" ng-bind="$state.current.data.title" id="pageTitle">@ViewBag.Title</div>

        <!-- navbar right -->
        <ul class="nav navbar-nav pull-right">
            <li class="nav-item">
                <a class="nav-link" ui-fullscreen="">
                    <span><i class="fa fa-fw fa-arrows-v"></i></span>
                </a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link clear" href="" data-toggle="dropdown">
                    <span class="avatar w-32">
                        <img src="../assets/images/a0.jpg" alt="...">
                        <i class="on b-white bottom"></i>
                    </span>
                </a>
                <div class="dropdown-menu pull-right dropdown-menu-scale">
                    <a class="dropdown-item" ui-sref="app.inbox.list">
                        <span>Inbox</span>
                        <span class="label warn m-l-xs">3</span>
                    </a>
                    <a class="dropdown-item" ui-sref="app.page.profile">
                        <span>Profile</span>
                    </a>
                    <a class="dropdown-item" ui-sref="app.page.setting">
                        <span>Settings</span>
                        <span class="label primary m-l-xs">3/9</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" ui-sref="app.docs">
                        Need help?
                    </a>
                    <a class="dropdown-item" ui-sref="access.signin">Sign out</a>
                </div>
            </li>
            <li class="nav-item hidden-md-up">
                <a class="nav-link" data-toggle="collapse" data-target="#collapse">
                    <i class="material-icons"></i>
                </a>
            </li>
        </ul>
        <!-- / navbar right -->
        <!-- navbar collapse -->
        <div class="collapse navbar-toggleable-sm" id="collapse">

            <!-- / -->
        </div>
        <!-- / navbar collapse -->
    </div>
</div>

